body{
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
ul{
	padding: 0px!important;
}
.menu-principal{
	width: 100%;
	height: 60px;
	background-color: black;
}
main {
	margin: 0 auto;
	width: 980px;
	position: relative;
}
.logo{
	width: 70%;
	float: left;
	padding: 10px;
	margin-left: -35px;
}
#social{
	height: 30px;
	width: 30px;
}
.redes-sociais ul li{
	display: inline-block;
	float: left;
	list-style: none;
	margin-left: 20px;
}
.redes-sociais{
	width: 25%;
	float: right;
}
.header-2{
	background-color: #ffffff;
	width: 980px;
	margin: 0 auto;
	height: 50px;
	padding: 10px;
}
.menu ul li{
	display: inline-block;
	color: #8b8b8b;
	margin-left: 15px;
	height: 50px;
}
.menu ul li a:hover {
	color: #00bac6;
	
}
.menu ul li:hover {
	border-bottom: 3px solid #00bac6;
}
.menu ul li a{
	color: #8b8b8b;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}
.menu{
	width: 70%;
	float: left;
}
.busca{
	text-align: center;
	width: 30%;
	float: right;
}
.busca button{
	cursor: pointer;
}
.busca input{
	background-image: url('../img/search.png');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: right;
	margin-top: 10px;
	height: 30px;
	width: 180px;
}
.col-1{
	width: 100%;
	float: left;
	position: relative;
}
.menu-urls{
	border-bottom: 3px solid #efefef;
	height: 80px;
}
.botao{
	margin-top: -17%;
	margin-left: 1%;
	width: 125px;
	height: 40px;
	font-size: 15px;
	background-color: #185ADB;
	border-radius: 20px;
	position: absolute;
	border: none;
}
.botao:hover{
	background-color: #ffffff;
	color: #FFC107;
}
button.slick-prev{
	font-size: 0px;
	border: none;
	background-color: transparent;
	height: 90px;
	width: 90px;
	position: absolute;
	z-index: 9;
	background-image: url('../img/esquerda.png');
	top: 35%;
    left: 0%;
	cursor: pointer;
}
button.slick-next{
	font-size: 0px;
	border: none;
	background-color: transparent;
	height: 90px;
	width: 90px;
	position: absolute;
	z-index: 9;
	background-image: url('../img/direita.png');
	top: 35%;
    right: 0%;
	cursor: pointer;
}
.slick-list {
	width: 100%!important;
}
.slick-initialized {
	overflow: hidden;
}
.slick-dots li button {
	font-size: 0%;
	border: 3px solid #ffffff;
	background-color: transparent;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}
.slick-dots {
	margin: 0 auto;
    width: 15%;
    position: absolute;
    left: 47%;
    top: 235px;
}
.slick-dots li {
	display: inline-block;
	padding: 05px;
}
li.slick-active button{
	background-color: #39A2DB;

}
.slider a {
	cursor: pointer;
}
.livro img{
	width: 175px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}
.descricao{
	width: 980px;
	margin: 0 auto;
	position: relative;
}
.descricao p{
	text-align: justify;
}
.bt-down{
	margin-bottom: 5px;
	cursor: pointer;
}
/*HTML - QUEM SOMOS*/
.quem-somos{
	width: 900px;
	margin: 0 auto;
	position: relative;
	height: 400px;
}
.quem-somos h1 {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	padding-left: 5px;
}
.quem-somos h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	padding-left: 5px;
}
.quem-somos p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-left: 5px;
	text-align: justify;
}
/*Roda-pé*/
footer{
	width: 100%;
}
/*HTML - ACESSAR CONTA*/
form#formulario {
	padding: 70px 750px 0px 10px;
}
div#nome {
	margin: 5px;
}
div#sobrenome {
	margin: 5px;
}
div#email {
	margin: 5px;
}
div#senha {
	margin: 5px;
}
